In [3]:
import pandas as pd
import csv

In [10]:
#Importiere die wichtigen Spalten aus den Excel-Datein
software_table = pd.read_excel("./enterprise-attack-v9.0-software.xlsx", "software", usecols = ['ID', 'created']).transpose()
associations_table = pd.read_excel("./enterprise-attack-v9.0-software.xlsx", "techniques used", usecols = ['source ID', 'target ID'])
technique_table = pd.read_excel("./enterprise-attack-v9.0-techniques.xlsx", "techniques", usecols = ['ID', 'created'])

software_table.
technique_table.set_index('ID')

technique_table, software_table

(            ID          created
 0        T1548  30 January 2020
 1    T1548.002  30 January 2020
 2    T1548.004  30 January 2020
 3    T1548.001  30 January 2020
 4    T1548.003  30 January 2020
 ..         ...              ...
 547  T1102.002    14 March 2020
 548  T1102.001    14 March 2020
 549  T1102.003    14 March 2020
 550      T1047      31 May 2017
 551      T1220  17 October 2018

 [552 rows x 2 columns],
                  0            1             2            3            4    \
 ID             S0066        S0065         S0469        S0045        S0073
 created  31 May 2017  31 May 2017  10 June 2020  31 May 2017  31 May 2017

                       5                6            7                  8    \
 ID                  S0552            S0331        S0092              S0504
 created  28 December 2020  29 January 2019  31 May 2017  10 September 2020

                    9    ...           483          484          485  \
 ID               S0584  ...         S0385        S0067        S0006
 created  01 March 2021  ...  04 June 2019  31 May 2017  31 May 2017

                  486          487            488            489          490  \
 ID             S0103        S0111          S0227          S0225        S0123
 created  31 May 2017  31 May 2017  18 April 2018  18 April 2018  31 May 2017

                      491              492
 ID                 S0248            S0350
 created  17 October 2018  30 January 2019

 [2 rows x 493 columns])