In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [5]:
y_train = pd.read_excel("./reduced_table_with_timestamps_and_props.xlsx", sheet_name="y", index_col="ID")
y_train = y_train.drop(y_train.tail(2).index, axis=0)
y_train = y_train.drop(['created'], axis = 1).T
y_train

ID,S0461,S0465,S0462,S0464,S0466,S0467,S0468,S0469,S0470,S0471,...,S0593,S0592,S0594,S0595,S0596,S0597,S0600,S0599,S0601,S0598
T1548.002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
T1548.001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
T1134,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
T1134.002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
T1134.004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
T1102,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
T1102.002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
T1102.001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
T1102.003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
T1047,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
prediction = pd.read_excel("./result simulation as matrix.xlsx")
prediction = prediction.set_index('ID')
prediction

,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
ID,,,,,,,,,,,,,,,,,,,,,
T1548.002,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
T1548.001,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
T1134,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
T1134.002,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
T1134.004,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
T1102,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
T1102.002,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
T1102.001,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
T1102.003,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
T1047,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0

In [15]:
def calculate_F_score(y_train, prediction, do_print=False):    
    ones = np.ones(len(y_train))

    score = prediction.score
    occurences = prediction.occurences
    best_sw = prediction.population
    
    F1_list = []
    
    for software in y_train.columns:
        sum_s = y_train[software] @ best_sw

        precision = 0
        if occurences != 0:
            precision = sum_s/occurences
            
        number_of_techniques_y = y_train[software] @ ones
        recall = 0
        if number_of_techniques_y != 0:
            recall = sum_s/(number_of_techniques_y)
        F1 = 0
        if (precision + recall) != 0:
            F1 = 2 * precision* recall /(precision + recall)
            
        F1_list.append(F1)
    
    
    '''
    for i in range(len(sorted_results)-5,len(sorted_results)):
        #best_sw = np.tile(sorted_results[i].population,1)
        best_sw = sorted_results[i].population
        if do_print:
            print("---NEXT INDIVIDUUM---")
            print("Fitness score of individuum: ",sorted_results[i].score)
            print(best_sw)
            print("")
            
        for software in y_train.columns:
            sum_s = y_train[software] @ best_sw
            
            precision = 0
            if sorted_results[i].occurences != 0:
                precision = sum_s/sorted_results[i].occurences
                
            number_of_techniques_y = y_train[software] @ ones
            recall = 0
            if number_of_techniques_y != 0:
                recall = sum_s/()
                
            if (precision + recall) == 0:
                F1 = 0
            else:
                F1 = 2 * precision* recall /(precision + recall)
            
            if do_print:
                print("Sum divided by # of ones in predicted Software")
                print (precision)
                print("Sum divided by # of ones in last 20% of software")
                print(recall)
                print("F1", F1)
                print("")
        # toDo search best F1 score in y_train and return score
        '''
    
    #to do return index der besten y_test software und best_sw um Muster zu erkennen
    return max(F1_list), best_sw

In [16]:
for column in prediction: 
    calculate_F_score(y_train, prediction, do_print= True)

AttributeError: 'DataFrame' object has no attribute 'score'